
/*Font Thai*/
@import url('https://fonts.googleapis.com/css?family=Kanit');
/* Bg Video*/
  *{
  box-sizing: border-box;
}

html{
  font-size: 62.5%; /*  1rem  = 10px */

}
body{
  margin:0;
  font-family: 'Kanit', sans-serif;
  font-size:1rem;
  font-weight:400;
  line-height:30px;
  color:#333;
  overflow-x:hidden;
}
h1{
    font-size: 50px;
    margin-bottom: 0;
    line-height: 64px;
}
h2{
    font-size: 44px;
    line-height: 64px;
}
 @media only screen and (max-width: 992px){
  h1{
     font-size: 38px;
    margin-bottom: 0;

  }
  h2{
      font-size: 30px;

  }

}

.v-header{
  height:100vh;
  display:flex;
  align-items:center;
  color:#fff;
}

.container{
 
  padding-left:1rem;
  padding-right:1rem;
  margin:auto;
  text-align:center;
}

.fullscreen-video-wrap{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  overflow:hidden; 

}

.fullscreen-video-wrap video{
/*  min-height:100%;
  min-width:100%;*/

  display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    min-height: 100%;
    min-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.fullscreen-video-wrap img{
/*  min-height:100%;
  min-width:100%;*/

  display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    min-height: 100%;
    min-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}


.header-overlay{
  height:100vh;
  position: absolute;
  top:0;
  left:0;
  width:100vw;
  z-index:1;
  background:#000000b5;

}

.header-content{
  z-index:2;
}

.header-content h1{
  position: center;
}

.header-content p{
  text-align: center;
  font-size:1.5em;
  display:block;
  padding-bottom:2rem;
}
header i.fa-arrow-down{

    color: #f1f1f1;
    font-size: 4em;
    font-weight: bold;
    transition: 0.3s;
}

/*button*/
.btn{
  background: #1e94cc;
  color:#fff;
  font-size:1.5rem;
  padding: 1rem 2rem;
  text-decoration: none;
  border-color:#1e94cc;
  border-radius: 10px;
  border-width: 3px;
}
.btn.focus, .btn:focus, .btn:hover{
  background: #2a5f77;
  color:#fff;
  font-size:1.5rem;
  padding: 1rem 2rem;
  text-decoration: none;
  border-color:#2a5f77;
  border-radius: 10px;
  transition: all 0.4s ease 0s;
}

@media only screen and (min-width: 768px){
  p.content{
    padding: 0px 4em;
  }
}
@media only screen and (max-width: 768px){
  p{
    padding: 0px 1em;
  }
  .about h2{
    text-align: center;
  }
}
.container-fluid{
  padding:60px 0;
}

.about{
background:#FFFFFF;
font-size:1.5em;
}

 @media only screen and (min-width: 992px){
 .about .carousel-about {
    padding-top: 95px ;
  }

}
.team{
  background:white;
  font-size:1.5em;
}
.item-team{
  box-shadow: 0 0px 3px 0 rgba(0, 0, 0, 0.75);
  border-radius: 15px 15px 15px 15px;
}
.team-description {
    padding: 5px;
    text-align: center;
    background-color: #dfe1e2;
    border-radius: 0px 0px 15px 15px;
    -moz-border-radius: 0px 0px 15px 15px;
    -webkit-border-radius: 0px 0px 15px 15px;
    border: 0px solid #000000;
  }


.services{
   background:#F6F6F6;
   color:black;
}
.services p{
   font-size:1.5em;
}
 .services-col{
    width:33.33%;
  }
@media only screen and (max-width: 425px){
  .services-col{
    width:100%;
  }
}

.product{
  background:#DFE6EC;
  color:black;

}
.product p{
  font-size:1.5em;
}
/*.product .product-type h6{
  font-size:1.6em;
}
 @media only screen and (max-width: 365px){
 .product .product-type h6{
  font-size:1.3em;
}

}*/

.customer{
   background:#F6F6F6;
   color:black;
}
.customer span img{
  width:80px;
  height:50px;
}
.customer-col img{
  padding: 1.5em 1.5em ;
}

/*section ContactUS*/
.contact-us{
  background:#d9e4f1;
  color:black;
}
.contact-channel{
  font-size: 20px;
  text-align: left ;
}


@media(max-width:960px){
  .container{
    padding-right:1rem;
    padding-left:1rem;
  }
}

/*Navbar */
  .navbar {
      margin-bottom: 0;
      background-color:#22547000;
      z-index: 9999;
      border: 0;
      font-size: 15px;
      line-height: 1.4285714px !important;
      letter-spacing: 1px;
      border-radius: 0;
      transition-duration: 0.5s;
      padding: 10px;
  }
  .navbar .navbar-brand {
    background: url(../asset/logo/logo.png) center / contain no-repeat;
    width: 200px;
  }
   .navbar-nav li a span{
       color: #FFFFFF ;       
   }
  .navbar-nav li a:hover span, .navbar-nav li.active a span{
      color: #1E94CC;
      -webkit-transition: all 0.2s; /* For Safari 3.1 to 6.0 */
      transition: all 0.2s;
  }
  li.active{
     color: #1E94CC;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
     
  }
 
  .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: #00000000;
    transition-duration: 0.5s;
}
   .affix {
   	position: fixed ;
    top:0;
    width: 100%;
 /*   z-index: 9999 ;*/
    background-color:rgba(34, 34, 34, 1);
  }
   .affix li a span{
   color:white;
  }
  @media only screen and (max-width: 991px){
   .navbar {
      padding: 10px 0px;
      font-size: 15px;   
      line-height: 1.4285714px !important;
    }
    .nav>li>a {
    position: relative;
    display: block;
    padding: 15px 8px;
    }
  }
 @media only screen and (max-width: 767px){
 .navbar {
    background: #23292c;
    padding: 10px 0;
 
  }
 .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color:#83858a7d;
  }
}




/*thumbnail img*/
/*figure {

  overflow: hidden;

}
figure:hover+span {
 border-radius: 15px 15px 0px 0px;
  opacity: 1;
}
figure img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;

}*/
/*figure:hover img {
   border-radius: 15px 15px 0px 0px;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
   transition: 0.8s;
   
}*/

/*.img-service{
  padding: 50px 50px ;
  border-radius: 50% ;
  background-color: #2c9acc;
}*/
.img-thumbnail{
    background-color: #fff0;
 /*   border: none; */
}
.portfolioContainer .img-thumbnail{
/*position: relative;*/
}
/*overlay product*/
.overlay {
  position: absolute;
  top: 5%;
 /* bottom: 0;*/
  left: 5%;
/*  right: 0;*/
  height: 90%;
  width: 90%;
  opacity: 0;
  transition: .5s ease;
  background-color:black;
}

.ist-col:hover .overlay {
  opacity: 0.5;
}

.zoom {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.team .img-thumbnail{
    padding: 60px 30px 0px;
    border-radius: 15px 15px 0px 0px;
    background-color:#597fe4de;
 /*  border: 1px solid #00000000;*/
    cursor: pointer;
  }
.services .img-thumbnail{
   padding: 1px;
   border-radius: 15px 15px 15px 15px;
   background-color:#00000000;
   border: 1px solid #00000000;
   cursor: pointer;
  }


/*Form*/
.contact-form .help-block{
  color:#1c8e16;
  font-weight: 3em;
}
@media screen and (max-width: : 320px){ #rc-imageselect, .g-recaptcha {transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;} }
#rc-imageselect {transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;} 
#msgerr{
  color:red;
}
/*Map*/

 #map{
        height: 410px;  
        width: 100%;  
}
.location{
	font-size: 1.4em;
	text-align: left ;
}
a {
  color: white;
  text-decoration: none;
}
a:hover{
  color: #30a7dd;
  text-decoration: none;
}
 

.carouselBorder {
 border: solid 1px #CCC;
    -moz-box-shadow: 5px 5px 0px #999;
    -webkit-box-shadow: 5px 5px 0px #999;
        box-shadow: 5px 5px 0px #999;
}

/*footer*/
footer.page-footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#1E282D;
    color: white;
    text-align: center;
    padding: 20px 0 0 20px;

    height: auto;
    
  }
  footer.page-footer .line1 p {
    display: inline;
    padding: 10px 10px 10px 0px;
    font-size: 16px;
    
  }
    footer.page-footer .line1 p a {

    font-size: 15px;
  }
    
  
    footer.page-footer .line2 p {
   
    padding: 20px 10px 10px 0px;
    font-size: 14px;
    
  }
   footer.page-footer .line2 p a{
   
    color:#1E94CC;
    
  }
     footer.page-footer .line2 p a:hover{
   
    color:#32b3ef;
    
  }
  /* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 617px){
    footer.page-footer .line1 p {
  
        display: block;
        padding: 0px 0 0 ;
    }
     footer.page-footer .line2 p {
  
        display: block;
        padding: 0px 0 15px;
    }
}
 img.img-follow{
  height: 20px ;
  width:20px;
 }

/*
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }*/
/*loading page*/
.spinner {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999999;
  background: url(../asset/icon/loading.gif) center no-repeat #fff;
  background-color: white;
}




/*product gallery*/
.portfolioFilter {
  padding: 40px 0;
}

.portfolioFilter a {
  margin-right: 6px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 4px 15px;
  border-radius: 50px;
  display: inline-block;
  background-color:#262f35; 
}

.portfolioFilter a.current {
  background: #cc8649;
  border: 1px solid #1e1e1e;
  color: #f9f9f9;
}

.portfolioContainer img{
     padding: 1.5em 1.5em ;
     width: 100%
}

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  transition-property: transform, opacity;
}
  .portfolioContainer .ist-col{
      width: 25%;
  }

@media only screen and (max-width: 768px){
  .portfolioContainer .ist-col{
      width: 50%;
  }
}
@media only screen and (max-width: 375px){
  .portfolioContainer .ist-col{
      width: 100%;
  }
}

/*.fancybox-content img{
  height: 50vh;
  width:90vh ;

}*/
