
/*Font Thai*/
@import url('https://fonts.googleapis.com/css?family=Kanit');
/* Bg Video*/
  *{
  box-sizing: border-box;
}

body{
  margin:0;
  font-family: 'Kanit', sans-serif;
  font-size:1rem;
  font-weight:normal;
  line-height:1.5;
  color:#333;
  overflow-x:hidden;
}

.v-header{
  height:100vh;
  display:flex;
  align-items:center;
  color:#fff;
}

.container{
  max-width:960px;
  padding-left:1rem;
  padding-right:1rem;
  margin:auto;
  text-align:center;
}

.fullscreen-video-wrap{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  overflow:hidden;
}

.fullscreen-video-wrap video{
  min-height:100%;
  min-width:100%;
}

.header-overlay{
  height:100vh;
  position: absolute;
  top:0;
  left:0;
  width:100vw;
  z-index:1;
  background:#225470;
  opacity:0.85;
}

.header-content{
  z-index:2;
}

.header-content h1{
  font-size:50px;
  margin-bottom:0;
}

.header-content p{
  font-size:1.5rem;
  display:block;
  padding-bottom:2rem;
}

.btn{
  background: #34b3a0;
  color:#fff;
  font-size:1.2rem;
  padding: 1rem 2rem;
  text-decoration: none;
}

.container-fluid{
  padding:60px 0;
}

.about{

}

.product{
  background:#225470;
  color:#fff;
}

.customer{

}

.contact-us{
  background:#225470;
  color:#fff;
}


@media(max-width:960px){
  .container{
    padding-right:3rem;
    padding-left:3rem;
  }
}

/*Navbar */
  .navbar {
      margin-bottom: 0;
      background-color:#22547000;
      z-index: 9999;
      border: 0;
      font-size: 12px;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      transition-duration: 0.5s;
  }
  .navbar .navbar-brand {
    /*brand imh wait edit*/
      color: red ;
  }
   .navbar-nav li a span{
       color: #FFFFFF ;
   }
  .navbar-nav li a:hover span, .navbar-nav li.active a span{
      color: #BB9453;
      font-size: 13px;
      background-color: #22547000 !important;
      border-bottom: 2px solid #BB9453;
      transition: all 0.1s;
  }
  li.active{
    background-color: #22547000;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
  }
  .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: #ffffff;
}
   .affix {
   	position: fixed ;
    top:0;
    width: 100%;
     border-bottom: 2px solid #80808017;
 /*   z-index: 9999 ;*/
    background-color:#FFFFFF;
  }
   .affix li a span{
   color:black;
  }




/*thumbnail img*/
.img-thumbnail {
padding: 1px;
}





/*Map*/

 #map{
        height: 300px;  
        width: 100%;  
}
.location{
	font-size: 10px;
	text-align: left ;
}
 

/*Modal Image*/
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 15px 0;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
i.fa-times {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

/*Next Image*/
i.fa-chevron-right {
	top: 10px;
  	float: left;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

/*Previous Image*/
i.fa-chevron-left {
    color: #f1f1f1;
    float: right;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

i.fa-times:hover,i.fa-times:focus,i.fa-chevron-right:hover,i.fa-chevron-right:focus,i.fa-chevron-left:hover,i.fa-chevron-left:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
img.img-thumbnail:hover{
	  cursor: zoom-in;
}
/*img.modal-content:hover{
	cursor: zoom-out;
}*/



/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 60%;
    }
}
